@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');


.signup {
    background-color: #FAFAED;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    font-family: 'Lexend', sans-serif;
}

.signup h2 {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lexend', sans-serif;
    font-size: 40px;
    color: #FF5762;
}

.signup h1 {
    font-size: 128px;
    margin-bottom: 30px;
}

.firstName {
    margin-top: 20px;
    height: 50px;
    width: 400px;
    background: rgba(144.37, 110.24, 110.24, 0);
    border-radius: 68px;
    border: 1px black solid;
    margin-bottom: 20px;

}

.lastName {
    height: 50px;
    width: 400px;
    background: rgba(144.37, 110.24, 110.24, 0);
    border-radius: 68px;
    border: 1px black solid;
}

.signupButtons .createAccount {
    height: 40px;
    width: 150px;
    background: #FF5762;
    border-radius: 45px;
    border-color: #FF5762;
    margin-bottom: 30px;
    margin-left: 20px;
}

.signupButtons :hover {
    font-weight: bold;
}

.profCasEntire {
    margin-top: 20px;
    align-items: left;

}

.profCas {
    text-align: left;
    background-color: #FAFAED;
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Lexend', sans-serif;

}

.password {
    padding-left: 20px;
}
